body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#card-render {
  width: 63mm;
  height: auto;
}

#test-image {
  opacity: 0.25;
  pointer-events: none;
  display: none;
}

foreignObject div {
  height: 100%;
}

.title-text {
  font-family: 'beleren-bold';
  font-size: 2.5em;
  letter-spacing: -0.01ch;
}

.typeline-text {
  font-family: 'beleren-bold';
  font-size: 2em;
  letter-spacing: 0.045ch;
}

.typeline-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'beleren-bold';
  font-size: 2em;
  letter-spacing: 0.045ch;
}

.typeline-content svg {
  height: 2em;
  width: auto;
}

.textbox-container {
  display: grid;
  grid-template:
    '.' 1fr
    'rules' auto
    'separator' auto
    'flavor' auto
    '.' 1fr
    / 1fr;
  height: 100%;
  padding: 0.1em 0.5em;
  font-family: 'mplantin';
}

.textbox-container.stamp-visible {
  padding-bottom: 1em;
}

[contenteditable] {
  transition: all 0.3s ease;
}
[contenteditable]:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(128, 21, 228, 0.4), 0 0 3px 3px rgba(128, 21, 228, 0.3);
}
[contenteditable].nowrap {
  white-space: nowrap;
}
[contenteditable] p:not(:first-of-type) {
  margin-top: 0.25em;
}

.rules-text {
  grid-area: rules;
  padding-right: 0.5em;
  font-size: 2.3em;
  line-height: 1;
  letter-spacing: 0.01ch;
}

.flavor-text {
  grid-area: flavor;
  font-size: 2.1em;
  font-style: italic;
  line-height: 1;
}

.rules-text.tight {
  letter-spacing: -0.025ch;
}
.flavor-text.tight {
  letter-spacing: -0.03ch;
}

.ft-separator {
  grid-area: separator;
  border: 0;
  height: 0.15em;
  margin: 1em 0.5em;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.025),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.025)
  );
}
