@font-face {
  font-family: 'beleren-bold';
  src: local('Beleren'), url('/fonts/beleren-bold.woff2') format('woff2'),
    url('/beleren-bold.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'beleren-sc';
  src: local('Beleren Small Caps'), url('/fonts/belerensmallcaps-bold.woff2') format('woff2'),
    url('/fonts/belerensmallcaps-bold.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'mplantin';
  src: local('MPlantin'), url('/fonts/mplantin.woff2') format('woff2'),
    url('/fonts/mplantin.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'gotham';
  src: local('Gotham-Medium'), url('/fonts/Gotham-Medium.woff2') format('woff2'),
    url('/fonts/Gotham-Medium.woff') format('woff');
  font-display: block;
}

@font-face {
  font-family: 'relay';
  src: local('Relay-Medium'), url('/fonts/relay-medium.woff2') format('woff2'),
    url('/fonts/relay-medium.woff') format('woff');
  font-display: block;
}

.beleren-bold {
  font-family: 'beleren-bold';
}
.beleren-smallcaps {
  font-family: 'belerensmallcaps-bold';
}
.mplantin {
  font-family: 'mplantin';
}
.gotham {
  font-family: 'gotham';
}
